@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* --color-bG: rgba(255, 192, 203, 0.434); */
  --color-bG: #132E57;
  --color-bG-variant: #324c72;
  --color-primary:  rgba(187, 219, 219, 0.356);
  --color-primary-variant: rgba(136, 223, 223, 0.877);
  --color-white: #fff;
  --color-dark: black;
  --color-pink: rgb(255, 191, 0);
  /* --color-pink: #e14c4c; */
  --color-gold: rgb(255, 191, 0);
  --color-light: rgba(181, 179, 179, 0.336);

  --transition: all 2s ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --contaner-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bG);
  color: var(--color-dark);
  /* line-height: 1.7; */
}

/* =============== GEN STYLE =============== */

.container {
  width: var(--container-width-md);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 {
  font-size: 2.8rem;
}

/* section {
  margin-top: 8rem;
} */

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.btn {
  width: max-content;
  display: inline-block;
  background: var(--color-pink);
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  /* border: 1px solid var(--color-white); */
  transition: var(--transition);
  font-weight: 600;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bG-variant);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-bG-variant);
  color: var(--color-white);
}

/* ======= MEDIA QUERIES (MEDIUM SIZE) ======= */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  /* section {
    margin-top: 6rem;
  } */
}

/* ======= MEDIA QUERIES (SMALL SIZE) ======= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-md);
  }

  /* section > h2 {
    margin-bottom: 2rem;
  } */
}